<div class="square porfolio">
      <div class="header header-portfolio">Porfolio</div>
      <div class="square {{ data.swiperContainer }}">
        <div class="swiper-wrapper custom">
          <div #watching *ngFor="let news of data.porfolios" class="swiper-slide box-effect rounded">
            <div class="image-container">
              <img class="img-fluid" src="http://hilapy-be.herokuapp.com/images/post_image.jpg" alt="{{ news.image.alt }}" />
              <div class="screen"></div>
            </div>
          </div>
        </div>
      </div>
</div>