<div class="square yellow-color">
  <div class="square {{ swiperContainers.portfolio }}">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="header-portfolio text-center">Portfolio</h2>
      </div>
    </div>
    <div class="swiper-wrapper custom">
      <div *ngFor="let news of porfolios" class="swiper-slide box-effect">
        <div class="image-container">
          <img class="img-fluid" src="{{ news.image.url }}" alt="{{ news.image.alt }}" />
          <div class="screen"></div>
        </div>
      </div>
      <div class="swiper-slide box-effect">
        <div class="image-container">
          <div class="screen">SEE MORE AT...</div>
        </div>
      </div>
    </div>
  </div>
</div>