/* Portfolio section */
.square {
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header-portfolio {
  font-size: 14px;
  position: relative;
  margin: 5px auto 11px auto;
}

.swiper-wrapper.custom {
  height: 208px;
}

.image-container {
  min-height: 100%;
}
.image-container .img-fluid {
  min-height: 100%;
  min-width: 100%;
  max-width: 120%;
}


.swiper-wrapper.custom .swiper-slide {
  overflow: hidden;
  width: 240px;
}

.blue-color {
  background-color: #5aa8fb;
  color: white;
}

.yellow-color {
  background-color: #FFD64E;
  color: #212529;
}