$width-full: 100%;

$blue-sky: #5CABFB;
$red-brick: #9D1F27;
$yellow-dark: #B99747;
$yellow-light: #FFD64E;
$white-smoke: #F0EFED;
$white-light: #E6F4F1;
$dark-bold: #0E1110;
$blue-dark: #002F6F;
$skin-color: #FFEDCB;

$navy: #041C7C;
$teal: #0D4D9F;
$gainsboro: #E2E3E1;
$steel-blue: #6688B4;
$medium-violet: #C51383


