.contact-section {
    list-style: none;
    padding: 5px 14px 5px 14px;
    margin-top: 0;
    margin-bottom:0;
    height: calc(100vh - 500px);
}

.needs-validation {
    padding: 10px 0 10px 0;
}

.direct-contact > span {
    display: inline-block;
    padding: 3px 0 3px 0;
    font-size: 80%;
}

@media screen and (max-width: 768px) {
    .contact-section {
        list-style: none;
        padding: 5px 14px 5px 14px;
        margin-top: 0;
        margin-bottom:0;
        height: auto;
    }
}
