@import '~sass/variables';
@import '~sass/mixins';

.contact-section {
    list-style: none;
    padding: 5px 14px 5px 14px;
    margin-top: 0;
    margin-bottom:0;
    height: calc(100vh - 500px);
    background-color: white;
    -webkit-box-shadow: 0 -4px 14px rgba(0,0,0,.36);
    -moz-box-shadow: 0 -4px 14px rgba(0,0,0,.36);
    box-shadow: 0 -4px 10px rgba(0,0,0,.36);
    z-index: 1;
}

.needs-validation {
    padding: 10px 0 10px 0;
}

.needs-validation .input-group {
    position: relative;
}

.needs-validation .valid-feedback, .needs-validation .invalid-feedback {
    position: absolute;
    top: 33px;
    font-size: 12px;
}

.direct-contact > span {
    display: inline-block;
    padding: 3px 0 3px 0;
    font-size: 80%;
}

/* Modify form-input */

button.btn.btn-secondary {
    background-color: $blue-dark;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    font-family: 'Baloo Paaji', cursive;
    letter-spacing: 2px;
    color: $white-smoke;
    border: none;
    z-index: 1;
}

input.form-control {
    background-color: $white-smoke;
    opacity: 0.85;
}

.fa {
    color: $blue-dark;
}

.valid-feedback, .invalid-feedback {
    display: inline-block;
    opacity: 0;
    animation: appear-feedback 500ms forwards;
    animation-delay: 3s;
}

@media screen and (max-width: 768px) {
    .contact-section {
        list-style: none;
        padding: 5px 14px 5px 14px;
        margin-top: 0;
        margin-bottom:0;
        height: auto;
    }
}

@keyframes appear-feedback {
  0% { opacity: 0; }
  50% {opacity: 0.5; }
  100% {opacity: 1; }
}
