<ul class="contact-section">
  <li>
    <div>
      <a *ngIf="data.media" href="{{ data.media.data.facebook.url}}"><span class="fa fa-facebook-official"></span></a>
        &nbsp;
      <a *ngIf="data.media" href="/{{ data.media.data.instagram.url}}"><span class="fa fa-instagram"></span></a>
    </div>
  </li>
  <li>
    <form class="needs-validation" novalidate="">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ text.email }}">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">{{ text.text_subscribe }}</button>
        </div>
        <div class="valid-feedback">Example invalid feedback text</div>
        <div class="invalid-feedback">Example invalid feedback text</div>
      </div>
    </form>
  </li>
  <li>
    <div><b>- {{ text.text_contact }} -</b></div>
  </li>
  <li class="direct-contact">
    <span *ngIf="data.contact">{{ data.contact.hotline }} | {{ data.contact.email }} <br /> {{ data.contact.address }}</span>
  </li>
</ul>