<div class="main-section blue-color {{ cf.SwiperContainer.name }}">
  <div class="swiper-wrapper">
    <div #watcher *ngFor="let slider of content" class="swiper-slide">
      <div class="section-text">
        <section class="container">
          <div  *ngFor="let title of slider" class="title">
            <div *ngFor="let item of title" [innerHtml]="item | safeHtml"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div (click)="prev()" class="swiper-custom-prev"><a href="#">Back</a></div>
  <div (click)="next()" class="swiper-custom-next rotate"><a href="#">Next</a></div>

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>