@import '~sass/variables';
@import '~sass/mixins';

/* main section */

.main-section {
  min-height: 500px;
  height: 75vh;
}

.blue-color {
  background-color: #5aa8fb;
  color: $blue-dark;
}

.yellow-color {
  background-color: #FFD64E;
  color: #212529;
}

.swiper-slide {
  .section-text {
   @include table;
   width: 100%;
   height: 100%;
    .container {
      @include table-cell;
      @include table-cell-align-middle;
      @include table-cell-align-center;
      .title {
        display: inline-block;
        top: auto;
        position: relative;
      }
    }
  }

}

.square {
  overflow: hidden;
}

.square:hover .hover {
  opacity: 1;
}

.hover {
  opacity: 0;
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
}

.section-text.align-bottom {
  margin-bottom: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255, 0.67);
  padding-top:5px;
  padding-bottom: 5px;
}

// Pagination Styles

.swiper-custom-next, .swiper-custom-prev {
  display: block;
  position: absolute;
}

.swiper-custom-next {
  right: 0;
  bottom: 21px;
  z-index: 11;
  transform: rotate(-90deg);
  text-transform: uppercase;
}

.swiper-custom-next a {
  display: inline-block;
  padding: 2px 6px;
  text-decoration: none;
  font-family: 'Baloo Paaji', cursive;
  color: $blue-dark;
  letter-spacing: 1px;
}

.swiper-custom-prev {
  left: 10px;
  bottom: 10px;
  z-index: 11;
}

.swiper-custom-prev a {
  display: inline-block;
  padding: 2px 6px;
  text-decoration: none;
  font-family: 'Baloo Paaji', cursive;
  color: $blue-dark;
  letter-spacing: 1px;
}


@media screen and (max-width: 767px) {
  .main-section {
    height: calc(100vh - 51.3px);
    min-height: auto;
  }

  .hover {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .main-section {
    height: calc(100vh);
    min-height: auto;
  }
}

/* animation rotation */

.rotate:hover {
  transform: rotate(630deg);
  transition: all 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* text animation effects */
.word {
  font-family: 'Anton', sans-serif;
  perspective: 1000px;
  perspective-origin: 200px 40px;
}

.word span {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  user-select: none;
  padding-left: 1px;
}

.word span:nth-child(1).active {
  animation: balance 1.5s ease-out;
  transform-origin: 0 100% 0;
}

@keyframes balance {
  0%, 100% {
    transform: rotate(0deg);
  }

  30%, 60% {
    transform: rotate(-45deg);
  }
}

.word span:nth-child(2).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes shrinkjump {
  10%, 35% {
    transform: scale(2, .2) translate(0, 0);
  }

  45%, 50% {
    transform: scale(1) translate(0, -150px);
  }

  80% {
    transform: scale(1) translate(0, 0);
  }
}

.word span:nth-child(3).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}

@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }

  24% {
    transform: rotateX(150deg);
  }

  36% {
    transform: rotateX(200deg);
  }

  48% {
    transform: rotateX(175deg);
  }

  60%, 85% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.word span:nth-child(4).active {
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  20%, 80% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.word span:nth-child(5).active {
  animation: toplong 1.5s linear;
}

@keyframes toplong {
  10%, 40% {
    transform: translateY(-48vh) scaleY(1);
  }

  90% {
    transform: translateY(-48vh) scaleY(4);
  }
}

/* appear effect */
.container {
  position: relative;
  font-family: 'Baloo Paaji', cursive;

  > div  {
    font-size: 50px;
    text-transform: uppercase;
  }

  > div > div {
    width: 100%;
    float: left;
    color: $white-smoke;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
  }

  > div > div.active {
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
  }

  > .title:last-child > div.active {
    animation-name: titleAnimationEnd;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  > div > div {
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
  }
  > div > div:first-child {
    animation-delay: 0.7s;
  }
  > div > div:last-child {
    color: $yellow-light;
    animation-delay: 0.5s;
  }

  > div {
    top: 0;
    position: absolute;
  }
  > div > div {
    animation-delay: 4.1s;
    -webkit-animation-fill-mode: forwards;
  }
  > div > div:first-child {
    animation-delay: 4.2s;
  }
  > div > div:last-child {
    color: $yellow-light;
    animation-delay: 4s;
  }
}


@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}


@media screen and (max-width: 767px) {
  .container {
    margin: auto;
    top: 0;
    bottom:0;
    left:0;
    right: 0;
  }
}

@keyframes titleAnimationEnd {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}