<div class="main-section blue-color {{ swiperContainers.mainContainer }}">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="section-text">
        <div class="word">
          <span>A</span>
          <span>N</span>
          <span>G</span>
          <span>I</span>
          <span>A</span>
        </div>
        <div class="word">
          <span>C</span>
          <span>O</span>
          <span>N</span>
          <span>C</span>
          <span>E</span>
          <span>P</span>
          <span>T</span>
        </div>
        <br />
        <section class="container">
          <h1 class="title">
            <span>Hi, nice</span>
            <span>to see</span>
            <span>you here</span>
          </h1>
          <h2 class="title">
            <span>This is</span>
            <span>a long</span>
            <span>sub title</span>
          </h2>
          <h2 class="title">
            <span>Wellcome</span>
            <span>Pal</span>
          </h2>
        </section>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="section-text">
        <div class="word">
          <span>A</span>
          <span>N</span>
          <span>G</span>
          <span>I</span>
          <span>A</span>
        </div>
        <div class="word">
          <span>C</span>
          <span>O</span>
          <span>N</span>
          <span>C</span>
          <span>E</span>
          <span>P</span>
          <span>T</span>
        </div>
        <br />
        <section class="container">
          <h1 class="title">
            <span>Hi, nice</span>
            <span>to see</span>
            <span>you here</span>
          </h1>
          <h2 class="title">
            <span>This is</span>
            <span>a long</span>
            <span>sub title</span>
          </h2>
          <h2 class="title">
            <span>Wellcome</span>
            <span>Pal</span>
          </h2>
        </section>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="section-text">
        <div class="word">
          <span>A</span>
          <span>N</span>
          <span>G</span>
          <span>I</span>
          <span>A</span>
        </div>
        <div class="word">
          <span>C</span>
          <span>O</span>
          <span>N</span>
          <span>C</span>
          <span>E</span>
          <span>P</span>
          <span>T</span>
        </div>
        <br />
        <section class="container">
          <h1 class="title">
            <span>Hi, nice</span>
            <span>to see</span>
            <span>you here</span>
          </h1>
          <h2 class="title">
            <span>This is</span>
            <span>a long</span>
            <span>sub title</span>
          </h2>
          <h2 class="title">
            <span>Wellcome</span>
            <span>Pal</span>
          </h2>
        </section>
      </div>
    </div>
  </div>
</div>