<div class="app-container">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 col-md-8 section app-container-no-padding">
              <div class="main-section blue-color {{ swiperContainers.mainContainer }}">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="section-text">
                          <div class="word">
                              <span>A</span>
                              <span>N</span>
                              <span>G</span>
                              <span>I</span>
                              <span>A</span>
                          </div>
                      <div class="word">
                          <span>C</span>
                          <span>O</span>
                          <span>N</span>
                          <span>C</span>
                          <span>E</span>
                          <span>P</span>
                          <span>T</span>
                      </div>
                      <br />
                      <section class="container">
                          <h1 class="title">
                              <span>Hi, nice</span>
                              <span>to see</span>
                              <span>you here</span>
                          </h1>
                          <h2 class="title">
                              <span>This is</span>
                              <span>a long</span>
                              <span>sub title</span>
                          </h2>
                          <h2 class="title">
                              <span>Wellcome</span>
                              <span>Pal</span>
                          </h2>
                      </section>
                  </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="section-text">
                              <div class="word">
                                  <span>A</span>
                                  <span>N</span>
                                  <span>G</span>
                                  <span>I</span>
                                  <span>A</span>
                              </div>
                              <div class="word">
                                  <span>C</span>
                                  <span>O</span>
                                  <span>N</span>
                                  <span>C</span>
                                  <span>E</span>
                                  <span>P</span>
                                  <span>T</span>
                              </div>
                              <br />
                              <section class="container">
                                  <h1 class="title">
                                      <span>Hi, nice</span>
                                      <span>to see</span>
                                      <span>you here</span>
                                  </h1>
                                  <h2 class="title">
                                      <span>This is</span>
                                      <span>a long</span>
                                      <span>sub title</span>
                                  </h2>
                                  <h2 class="title">
                                      <span>Wellcome</span>
                                      <span>Pal</span>
                                  </h2>
                              </section>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="section-text">
                              <div class="word">
                                  <span>A</span>
                                  <span>N</span>
                                  <span>G</span>
                                  <span>I</span>
                                  <span>A</span>
                              </div>
                              <div class="word">
                                  <span>C</span>
                                  <span>O</span>
                                  <span>N</span>
                                  <span>C</span>
                                  <span>E</span>
                                  <span>P</span>
                                  <span>T</span>
                              </div>
                              <br />
                              <section class="container">
                                  <h1 class="title">
                                      <span>Hi, nice</span>
                                      <span>to see</span>
                                      <span>you here</span>
                                  </h1>
                                  <h2 class="title">
                                      <span>This is</span>
                                      <span>a long</span>
                                      <span>sub title</span>
                                  </h2>
                                  <h2 class="title">
                                      <span>Wellcome</span>
                                      <span>Pal</span>
                                  </h2>
                              </section>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="below-supportive">
                  <img width="150" class="img-fluid" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
              </div>
          </div>
          <div class="col-sm-12 col-md-4 right-section">
                  <div class="square {{ swiperContainers.newsContainer }}">
                      <div class="swiper-wrapper">
                          <div *ngFor="let news of allNews" class="swiper-slide">
                              <div class="image-container">
                                <img class="img-fluid" src="{{ news.image.url }}" alt="{{ news.image.alt }}" />
                                <div class="screen"></div>
                              </div>
                              <div class="section-text align-bottom hover">
                                  <div class="row">
                                      <div class="col-sm-6 col-xs-6">
                                          <div>
                                            <span>{{ news.name }}</span>
                                          </div>
                                          <div>
                                              <span><small>{{ news.date }}</small></span>
                                          </div>
                                      </div>
                                      <div class="col-sm-6 col-xs-6 d-none d-sm-block">
                                          <div>
                                              <span>{{ news.des }}</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="square yellow-color">
                          <div class="square {{ swiperContainers.portfolio }}">
                              <div class="row">
                                  <div class="col-sm-12">
                                    <h2 class="header-portfolio text-center">Portfolio</h2>
                                  </div>
                              </div>
                              <div class="swiper-wrapper custom">
                                  <div *ngFor="let news of allNews" class="swiper-slide box-effect">
                                      <div class="image-container">
                                          <img class="img-fluid" src="{{ news.image.url }}" alt="{{ news.image.alt }}" />
                                          <div class="screen"></div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide box-effect">
                                      <div class="image-container">
                                          <div class="screen">SEE MORE AT...</div>
                                      </div>
                                  </div>
                              </div>


                          </div>
                  </div>
          </div>
      </div>
  </div>
</div>
