@import '~sass/variables';

.below-supportive {
  width: 100%;
  overflow: hidden;
  background-color: #3448a4;
  height: calc(100vh - 75vh);
  min-height: 120px;
  color: #ffffff;
}

.blue-color {
  background-color: #5aa8fb;
  color: white;
}

.yellow-color {
  background-color: #FFD64E;
  color: #212529;
}

.section-text {
  padding: 15px;
}

.square {
  overflow: hidden;
}

.square:hover .hover {
  opacity: 1;
}

.hover {
  opacity: 0;
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
}

.section-text.align-bottom {
  margin-bottom: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255, 0.67);
  padding-top:5px;
  padding-bottom: 5px;
}

.header-portfolio {
  font-size: 12px;
  font-weight: bold;

}

.swiper-slide {
  padding-top: 12px;
  padding-bottom: 12px;
  top: 0;
  bottom: 0;
  margin-top:auto;
  margin-bottom: auto;
  height: 148px;
  -webkit-box-shadow: 0 -4px 14px rgba(0,0,0,.36);
  -moz-box-shadow: 0 -4px 14px rgba(0,0,0,.36);
  box-shadow: 0 -4px 10px rgba(0,0,0,.36);
}

.image-container {
  height: 116px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 4px;
  padding-left: 4px;
  position: relative;
}

.image-container > img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 768px) {
  .below-supportive {
    width: 100%;
    overflow: hidden;
    background-color: #3448a4;
    height: auto;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

@media screen and (max-height: 627px) {
  .below-supportive {
    width: 100%;
    overflow: hidden;
    height: auto;
  }
}
