<div style="position:fixed;top: 40%;left: 2px;z-index: 3;">
  <a href="#section2" data-target="slide-out" class="sidenav-trigger btn-floating btn-large waves-effect waves-light grey darken-4"><i class="material-icons">menu</i></a>
</div>

<div class="main-wrapper">
  <section class="clearfix profileSection scrollspy" id="section0">
    <!--Swipper for global inform-->
    <div class="swiper-container swiper-container-fade swiper-container-horizontal">
      <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-active" style="background-color: rgba(0,0,0,0.7);background-image: url(&quot;http://www.wallpapers-web.com/data/out/184/5417267-snow-white-mountains-wallpapers.jpeg&quot;); width: 1366px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
        <div style="height:100%;width:100%;background-color: rgba(0,0,0,0.7)">
            <div class="center brand-text" style="color:white;">
                <p>Hilapy Team</p>
            </div>
        </div>
        <div class="row profile-block">
            <div class="col s6 offset-s6 profile-block-item">
                <h1>Welcome to Hilapy</h1>
                <p>We are happy to help you boosting your business with new technologies and creative ideas.</p>
                <a class="ken-btn" href="#section2" style="color: white">Find out more!</a>
            </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(&quot;https://images.wallpaperscraft.com/image/apple_macbook_airbook_computer_mouse_106498_1600x1200.jpg&quot;); width: 1366px; opacity: 0; transform: translate3d(0px, 0px, 0px);">
        <div class="center brand-text">
          <p>Hilapy Team</p>
        </div>
        <div class="row profile-block">
            <div class="col s6 offset-s6 profile-block-item">
                <h1>We are professional.</h1>
                <p>With techonoly super heroes &amp; wonder women, we provide you high class solutions.</p>
                <a class="ken-btn" href="#section2" style="color: white">Find out more!</a>
            </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(&quot;https://images.wallpaperscraft.com/image/balloon_flight_plant_91681_1280x720.jpg&quot;); width: 1366px; opacity: 0; transform: translate3d(-4098px, 0px, 0px);">
        <div class="center brand-text">
            <p>Hilapy Team</p>
        </div>
        <div class="row profile-block">
            <div class="col s6 offset-s6 profile-block-item">
                <h1>We love Coding</h1>
                <p>Coding by passion, working by customer satisfied. Your success is our happiness</p>
            </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-color: white;width: 1366px; opacity: 0; transform: translate3d(-4098px, 0px, 0px);">
        <div style="height: 100%;width: 100%;background-color: rgba(255,255,255,0.3)">
            <div class="center brand-text" style="color:darkgray">
                <p>We are Hilapy!
                </p>
            </div>
        </div>
      </div>  

      </div>
      
      <div class="swiper-pagination swiper-pagination-white swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
      
      <div class="swiper-button-next swiper-button-white" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
      <div class="swiper-button-prev swiper-button-white swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <!--Swipper for global inform - end-->
  </section>

  <!--Section team member-->
  <section class="clearfix scrollspy" id="section2" style="height:300vh;background-image:url(../assets/image/bg-3.jpg);background-repeat: repeat">
    <div class="row" style="width:100%;height:33.33%;margin: 0;">
      <div class="col s6" style="height:100%;">          
        <!--Add picture if any-->
      </div>
      <div class="col s6 valign-wrapper" style="height:100%;max-height:100%;">
          <blockquote class="left-blockquote">
              <h1 class="grey-text text-darken-1">Coder Superman</h1>
              <span class="flow-text">
                  Lorem ipsum dolor sit amet, mel no deleniti gubergren, ut est summo veritus. Ea augue laboramus vel, at eam iudico apeirian abhorreant. Nam ei regione nostrud suscipiantur. Qualisque democritum sit ne, minim choro ei eos. At ius quas invidunt, graecis volutpat id pro.
                  Ex accumsan senserit accusamus mea, altera graecis philosophia duo ne, per tota nominati scripserit et. Id mei soluta voluptaria contentiones. Fabellas cotidieque neglegentur cu eam, est eu vero decore. Te modus inciderint eum, cum unum erat error in. Nec at officiis pertinacia democritum, nulla nihil cum no.
              </span>          
          </blockquote>
      </div>
    </div> 
    
    <div class="row" style="width:100%;height:33.33%;margin: 0;">
      <div class="col s6 valign-wrapper" style="height:100%;max-height:100%;">
        <blockquote class="right-blockquote">
            <h1 class="grey-text text-darken-1 right-align">Artist Wonder women</h1>
            <span class="flow-text right-align">
                Lorem ipsum dolor sit amet, mel no deleniti gubergren, ut est summo veritus. Ea augue laboramus vel, at eam iudico apeirian abhorreant. Nam ei regione nostrud suscipiantur. Qualisque democritum sit ne, minim choro ei eos. At ius quas invidunt, graecis volutpat id pro.
                Ex accumsan senserit accusamus mea, altera graecis philosophia duo ne, per tota nominati scripserit et. Id mei soluta voluptaria contentiones. Fabellas cotidieque neglegentur cu eam, est eu vero decore. Te modus inciderint eum, cum unum erat error in. Nec at officiis pertinacia democritum, nulla nihil cum no.
            </span>          
          </blockquote>
      </div>
        <div class="col s6" style="height:100%;">          
            <!--Add picture if any-->
        </div>
    </div> 

      <div class="row" style="width:100%;height:33.33%;margin: 0;">
          <div class="col s6" style="height:100%;">          
              <!--Add picture if any-->
          </div>
          <div class="col s6 valign-wrapper" style="height:100%;max-height:100%;">
            <blockquote class="left-blockquote">
                <h1 class="grey-text text-darken-1">Quality Spiderman</h1>
                <span class="flow-text">
                    Lorem ipsum dolor sit amet, mel no deleniti gubergren, ut est summo veritus. Ea augue laboramus vel, at eam iudico apeirian abhorreant. Nam ei regione nostrud suscipiantur. Qualisque democritum sit ne, minim choro ei eos. At ius quas invidunt, graecis volutpat id pro.
                    Ex accumsan senserit accusamus mea, altera graecis philosophia duo ne, per tota nominati scripserit et. Id mei soluta voluptaria contentiones. Fabellas cotidieque neglegentur cu eam, est eu vero decore. Te modus inciderint eum, cum unum erat error in. Nec at officiis pertinacia democritum, nulla nihil cum no.
                </span>          
              </blockquote>
          </div>
      </div> 
  </section>

</div>
<ul id="slide-out" class="sidenav">
    <li><a href="#section0" class="sidenav-close">
        <i class="material-icons">cloud</i>Hilapy</a>
    </li>
    <li><a href="#section2" class="sidenav-close">
        <i class="material-icons">cloud</i>Who we are?</a>
    </li>
    <li><a href="#section2" class="sidenav-close">
        <i class="material-icons">cloud</i>Team of heroes</a>
    </li>
    <li><a href="#section2" class="sidenav-close">
        <i class="material-icons">cloud</i>Main customer</a>
    </li>
    <li><a href="#section2" class="sidenav-close">
        <i class="material-icons">cloud</i>Contact us.</a>
    </li>
</ul>