<div class="app-container">
    <div ngClass="{{ cf.Config.swiperName }} swiper-post" >
        <div class="swiper-wrapper">
           <app-swiper-slider
                   *ngFor="let post of data"
                   #watching ngClass="swiper-slide"
                   [post]="post"
           ></app-swiper-slider>
           <app-swiper-slider
                    [hidden]="true"
                    #watching ngClass="swiper-slide"
                    [lazyData]="lazyData"
                    (eleRef)="setTemplate($event)"
           ></app-swiper-slider>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-custom-prev"><a href="#">Back</a></div>
        <div class="swiper-custom-next"><a href="#">Next</a></div>
    </div>

    <div class="featured-posts rounded">
        <div class="row">
             <div *ngFor="let feature of data" class="feature-post col-sm-3">
                 <span class="title"><span>{{ feature.title }}</span></span>
                 <a routerLink="{{ feature.seo }}">
                     <div class="image-container rounded">
                         <img class="img-fluid" src="{{ feature.image.url }}" alt="{{ feature.image.alt }}" />
                         <div class="screen"></div>
                    </div>
                 </a>
             </div>
        </div>
    </div>
</div>


