<div class="app-container">
    <div class="{{ data.swiperContainer }}">
        <div class="swiper-wrapper">
            <div #watching *ngFor="let post of data.posts" class="swiper-slide rounded">
                <div class="image-container">
                    <a routerLink="{{ post.seo }}">
                        <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.image.alt }}" />
                        <div class="screen"></div>
                    </a>
                </div>
                <div class="section-text align-bottom hover">
                    <div class="row">
                        <div class="col-sm-12 col-xs-6">
                            <div class="title">
                                <span>{{ post.title }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-6">
                            <div class="additional">
                                <span><span class="category">{{ post.category }}</span> / {{ post.date | date: ' dd - MM - yyyy' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-custom-prev"><a href="#">Back</a></div>
        <div class="swiper-custom-next"><a href="#">Next</a></div>
    </div>
</div>


