<div class="container-all">
<div class="square {{ data.swiperContainer }}">
  <div class="swiper-wrapper">
    <div #watching *ngFor="let news of data.blogs" class="swiper-slide boxs-effect">
      <div class="image-container">
        <img class="img-fluid" src="{{ news.image.url }}" alt="{{ news.image.alt }}" />
        <div class="screen"></div>
      </div>
      <div class="section-text align-bottom">
        <div class="row">
          <div class="col-sm-12 col-xs-6">
            <div class="title">
              <span>{{ news.title }} asdqwd jhdgjq ajhsdjq d </span>
            </div>
          </div>
          <div class="col-sm-12 col-xs-6">
            <div class="additional">
              <span><span class="category">{{ news.category }}</span> / {{ news.date | date: ' dd - MM - yyyy' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add a class -disappear when finish loading image -->
<div class="-loading"> <div class="bounceball"></div></div>
</div>

