.container-all {
  position: relative;
  background-color: #E1E2E1;
  -webkit-box-shadow: 0 4px 14px rgba(0,0,0,.36);
  -moz-box-shadow: 0 4px 14px rgba(0,0,0,.36);
  box-shadow: 0 4px 10px rgba(0,0,0,.36);
  z-index: 1;
}

.blue-color {
  background-color: #5aa8fb;
  color: white;
}

.yellow-color {
  background-color: #FFD64E;
  color: #212529;
}

.section-text {
  padding: 15px;
}

.section-text .title {
  font-family: 'Baloo Paaji', cursive;
  text-transform: uppercase;
  font-size: 16px;
  color: #007bff;
}

.section-text .additional {
 font-family: 'Roboto', sans-serif;
 font-size: 12px;
 font-weight: bold;
 color: #343a40;
 opacity: 0.67;
}

.section-text .additional .category {
  color: #FF5600;
}

.square {
  overflow: hidden;
}

.square:hover .hover {
  opacity: 1;
}

.hover {
  opacity: 0;
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
}

@media screen and ( max-width: 768px ) {
  .square .hover {
    opacity: 1;
  }

  .container-all {
    padding-top: 12px;
  }
}

.section-text.align-bottom {
  margin-bottom: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  top: 0;
  width: 150px;
  background-color: rgba(255,255,255, 1);
  padding-top:5px;
  padding-bottom: 5px;
}

.right-section {
  padding-left: 0;
  padding-right: 0;
}

.square {
  height: 250px;
  width: 100%;
  position: relative;
}

.square.subscribe {
  height: calc(100vh - 500px);
}

.square .swiper-wrapper {
  z-index: 0;
}

.square .swiper-wrapper .swiper-slide {
  overflow: hidden;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.image-container .screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.27);
}

.image-container img {
  min-height: 100%;
  min-width: 100%;
}

.-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 24px;
  text-align: center;
}

.-loading.-disappear {
  display: none;
}

.boxs-effect {
   -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
   transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
   animation: loading 1.5s none;
   animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #007bff;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes loading {
  from { transform: scale(0.0, 0.0); }
  to { transform: scale(1, 1); }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}